weaviate-client
requests
Pillow
typing-extensions
transformers
numpy<2
git+https://github.com/ialhashim/ml-mobileclip.git
Pillow>=10.0.0
platformdirs>=3.0.0
osxmetadata
fastapi
uvicorn
pydantic
#MulticoreTSNE
